body {
  font-family: Arial, sans-serif;
  background: #0cabc4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

#chat {
  background: #0567a8;
  color: #fff;
  text-align: center;
  box-shadow: inset 0 0 10px #00000070;
  width: 100%;
  max-width: 900px;
  height: 90dvh;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

div#inputs {
  text-align: left;
  align-self: center;
}
            
#inputs input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

#inputs input {
  flex: 1;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 20px;
  border: 3px transparent solid;
  outline: 0;
  transition: 0.4s;
}

#inputs input:focus {
  border-color: #109eff;
  box-shadow: 0 0 10px #00000050;
}

#inputs button {
  cursor: pointer;
  border: 3px #0d6ba9 solid;
  border-radius: 50px;
  margin-top: 10px;
  padding: 8px 12px;
  width: 100%;
}

#inputs span {
  margin-left: 7px;
}
  
#input-wrapper {
  position: relative;
}
            
#input-wrapper button {
  position: absolute;
  right: -25px;
  top: 23%;
  transform: translateY(-50%);
  width: auto;
  padding: 0 16px;
  border: 3px #0d6ba9 solid;
  background-color: #0d6ba9;
}